html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.content {
    z-index: 2;  /* Increase the z-index value so it's always on top of the video */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content img {
    max-width: 100%; /* This will ensure the image doesn't exceed its parent container size */
    max-height: 100%;
    width: 35vw;
    height: 50vh;
    position: absolute;
    right: 0;
    top: 10%;
}
.happy-birthday {
    font-family: 'Dancing Script', cursive;
    font-size: 6.8rem; /* Adjust size as needed */
    color: #FFD700; /* Gold color to match the golden hour theme */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 30%;
    right: 5%;
  
    z-index: 2; /* Ensure it's on top of the video */
}
